@page "/funcionarios"
@using AppExemplo.Models;
@inject FuncionarioDAO FuncionarioDAO;
@inject NavigationManager Navigation;

<PageTitle>Funcionarios</PageTitle>

<style>
    .main-title {
        margin-bottom: 1.5rem;
        font-weight: 600;
    }

        .main-title::before {
            content: "";
            width: 8px;
            height: 100%;
            border: 2px solid #e39b34;
            margin-right: 0.5rem;
        }
</style>

<h1 class="main-title text-2xl font-semibold mt-3">Funcionários Cadastrados</h1>

<a href="/funcionario-form" class="btn btn-sm btn-primary">Novo Funcionario</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Endereço</th>
            <th>Função</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var funcionario in listaFuncionario)
        {
            <tr>
                <td>@funcionario.Nome</td>
                <td>@funcionario.Cpf</td>
                <td>@funcionario.Telefone</td>
                <td>@funcionario.Email</td>
                <td>@funcionario.Endereco</td>
                <td>@funcionario.Funcao</td>
                <td>
                    <a href="/funcionario/@funcionario.Id/atualizar" class="btn btn-sm btn-primary mr-2">
                        <i class="fas fa-edit"></i> Atualizar
                    </a>
                    <a href="/funcionario/@funcionario.Id/excluir" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i>Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Funcionario> listaFuncionario = new();

    protected override void OnInitialized()
    {
        CarregarFuncionario();
    }

    private void CarregarFuncionario()
    {
        listaFuncionario = FuncionarioDAO.ListarTodos();
    }
}
