@page "/agendamentos"
@using AppExemplo.Models;
@rendermode InteractiveServer
@inject AgendamentoDAO AgendamentoDAO;
@inject NavigationManager Navigation;

<PageTitle>Agendamentos</PageTitle>

<style>
    .main-title {
        margin-bottom: 1.5rem;
        font-weight: 600;
    }

        .main-title::before {
            content: "";
            width: 8px;
            height: 100%;
            border: 2px solid #ffc30d;
            margin-right: 0.5rem;
        }

        .btn-novo-cliente {
        position: fixed;
        top: 110px;
        left: 1150px;
        width: 55px;
        height: 55px;
        border-radius: 25%;
        background-color: #ffc30d;
        color: white;
        border: none;
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0,0,0,.3);
        transition: 0.2s;
        text-align: center;
    }

    .btn-novo-cliente:hover {
        transform: scale(1.1);
    }
</style>

<h1 class="main-title text-2xl font-semibold mt-3">Agendamentos</h1>

<a href="/agendamento-form" class="btn-novo-cliente">
    +
</a>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Hora Inicial</th>
            <th>Hora Final</th>
            <th>Status</th>
            <th>Data Reserva</th>
            <th>Valor Total</th>
            <th>Quadra Id</th> 
        </tr>
    </thead>

    <tbody>
        @foreach (var agendamento in listaAgendamentos)
        {
            <tr>
                <td>@agendamento.Data</td>
                <td>@agendamento.HoraInicial</td>
                <td>@agendamento.HoraFinal</td>
                <td>@agendamento.Status</td>
                <td>@agendamento.DataReserva</td>
                <td>@agendamento.ValorTotal</td>
                <td>@agendamento.QuadraId</td>
                <td>
                    <div class="flex gap-2">
                         <a href="javascript:void(0)" class="mr-3" title="Atualizar">
                            <Icon>
                                <AppExemplo.Components.icons.Edit />
                            </Icon>
                        </a>

                        <a href="javascript:void(0)" title="Excluir">
                            <Icon>
                                <AppExemplo.Components.icons.Exclude />
                            </Icon>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Agendamento> listaAgendamentos = new();

    protected override void OnInitialized()
    {
        CarregarAgendamento();
    }

    private void CarregarAgendamento()
    {
        listaAgendamentos = AgendamentoDAO.ListarTodos();
    }
}