@page "/clientes"
@using AppExemplo.Models;
@inject ClienteDAO ClienteDAO;
@inject NavigationManager Navigation;

<PageTitle>Clientes Cadastrados</PageTitle>

<style>
	.main-title {
		margin-bottom: 1.5rem;
		font-weight: 600;
	}

		.main-title::before {
			content: "";
			width: 8px;
			height: 100%;
			border: 2px solid #e39b34;
			margin-right: 0.5rem;
		}
</style>

<h1 class="main-title text-2xl font-semibold mt-3">Clientes Cadastrados</h1>

@* ahef para o botao de + *@
@* <a href="/cliente-form" class="btn btn-sm btn-primary">+++++</a>
<ButtonDefault><IconAdd /> </ButtonDefault> *@
@* <a href="/cliente-form" class="btn btn-sm btn-primary">
    <ButtonDefault>
        <IconAdd />
    </ButtonDefault>
</a> *@




<div class="flex gap-10 justify-content-between align-items-center mb-5">
    <AppExemplo.Components.VV.TextField Label="Pesquisar" Placeholder="Digite algo..." @bind-Value="search" />

    <AppExemplo.Components.UI.Button OutlineOnClick="true" OnClick="@(() => Navigation.NavigateTo("/cliente-form"))">
        <AppExemplo.Components.icons.Add />
    </AppExemplo.Components.UI.Button>
</div>
@* 
    <AppExemplo.Components.UI.Button OutlineOnClick="true" OnClick="HandleClick">
        <AppExemplo.Components.icons.Add />
    </AppExemplo.Components.UI.Button>
</div> *@

@code {
    private string search = "";

    private void HandleClick(MouseEventArgs e)
    {
        Console.WriteLine("Botão clicado!");
    }
}

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>CPF</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cliente in listaClientes)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Telefone</td>
                <td>@cliente.Email</td>
                <td>@cliente.Cpf</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Cliente> listaClientes = new();

    protected override void OnInitialized()
    {
        CarregarClientes();
    }

    private void CarregarClientes()
    {
        listaClientes = ClienteDAO.ListarTodos();
    }
}
