@page "/relatorios"
@using AppExemplo.Models;


<PageTitle>Relatório de Agendamento de Quadras</PageTitle>

<style>
	.main-title {
		margin-bottom: 1.5rem;
		font-weight: 600;
	}

		.main-title::before {
			content: "";
			width: 8px;
			height: 100%;
			border: 2px solid #e39b34;
			margin-right: 0.5rem;
		}
</style>

<h1 class="main-title text-2xl font-semibold mt-3">Relatório de Agendamento de Quadras</h1>
 
@* <table class="table">
	<thead>
		<tr>
			<th>Data</th>
			<th>Hora</th>
			<th>Quadra</th>
			<th>Cliente</th>
			<th>Funcionário</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var relatorio in listaRelatorios)
		{
			<tr>
				<td>@relatorio.Data</td>
				<td>@relatorio.Hora</td>
				<td>@relatorio.Quadra</td>
				<td>@relatorio.Cliente</td>
				<td>@relatorio.Funcionario</td>
			</tr>
		}
		</tbody>
	</table>
	
		@code {
		private List<Relatorios> listaRelatorios = new();

    protected override void OnInitialized()
    {
        CarregarFuncionario();
    }

    private void CarregarFuncionario()
    {
        listaRelatorios = Relatorios.ListarTodos();
    }
} *@
