@page "/clientes"
@using AppExemplo.Models;
@inject ClienteDAO ClienteDAO;

<PageTitle>Clientes Cadastrados</PageTitle>

<style>
	.main-title {
		margin-bottom: 1.5rem;
		font-weight: 600;
	}

		.main-title::before {
			content: "";
			width: 8px;
			height: 100%;
			border: 2px solid #e39b34;
			margin-right: 0.5rem;
		}
</style>

<h1 class="main-title text-2xl font-semibold mt-3">Clientes Cadastrados</h1>

<table class="table">
<thead>
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Status</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th>CPF</th>
    </tr>
</thead>
<tbody>
@{
    int contador = 1;

    @foreach (var cliente in ClienteDAO.ListarTodos())
    {
        <tr>
            <td>@contador</td>
            <td>@cliente.Nome</td>
            <td>@cliente.Status</td>
            <td>@cliente.Telefone</td>
            <td>@cliente.Email</td>
            <td>@cliente.Cpf</td>
        </tr>
        contador++;
    }
}
</tbody>
</table>

@code {
    private List<Cliente> clientes = new();

    protected override void Onitialized()
    {
        CarregarClientes();
    }

    private void CarregarClientes()
    {
        clientes = ClienteDAO.ListarTodos();
}

@* <div>
	<div class="flex gap-10 justify-content-between align-items-center mb-5">
		<AppExemplo.Components.VV.TextField Label="Pesquisar" Placeholder="Digite algo..." @bind-Value="search"/>

		<AppExemplo.Components.UI.Button OutlineOnClick="true" OnClick="HandleClick">
			<AppExemplo.Components.icons.Add />
		</AppExemplo.Components.UI.Button>

	</div>
	<AppExemplo.Components.UI.DataTable Columns="columns" Rows="rows" Actions="actions" OnAction="HandleAction" />
</div> *@


@* @code { 
    private void HandleClick(MouseEventArgs e)
    {
        Console.WriteLine("Botão clicado!");
    }

    private string search = "";

    private List<AppExemplo.Components.UI.DataTable.Column> columns = new()
    {
        new() { Key = "id", Label = "ID" },
        new() { Key = "nome", Label = "Nome Completo" },
        new() { Key = "status", Label = "Status" },
		new() { Key = "telefone", Label = "Telefone" },
		new() { Key = "email", Label = "E-mail" },
		new() { Key = "cpf", Label = "CPF" }

    };

    private List<Dictionary<string, object?>> rows = new()
    {
        new() { { "id", 1 }, { "nome", "Ana" }, { "status", "Ativo" }, { "email", "ana@email.com" }, { "telefone", "(99) 99999-9999" }, { "cpf", "123.456.789-00" } },
         new() { { "id", 2 }, { "nome", "Ana" }, { "status", "Ativo" }, { "email", "ana@email.com" }, { "telefone", "(99) 99999-9999" }, { "cpf", "123.456.789-00" } },
          new() { { "id", 3 }, { "nome", "Ana" }, { "status", "Ativo" }, { "email", "ana@email.com" }, { "telefone", "(99) 99999-9999" }, { "cpf", "123.456.789-00" } },
           new() { { "id", 4 }, { "nome", "Ana" }, { "status", "Ativo" }, { "email", "ana@email.com" }, { "telefone", "(99) 99999-9999" }, { "cpf", "123.456.789-00" } },
            
    };

    private List<AppExemplo.Components.UI.DataTable.Action> actions = new();

    protected override void OnInitialized()
    {
        actions = new()
        {
            new AppExemplo.Components.UI.DataTable.Action
            {
                Name = "edit",
               Icon = builder =>
            {
                builder.OpenComponent(0, typeof(AppExemplo.Components.icons.Edit));
                builder.CloseComponent();
            },
                Handler = EventCallback.Factory.Create<Dictionary<string, object?>>(this, row => {
                    Console.WriteLine($"Editar {row["id"]}");
                })
            },
            new AppExemplo.Components.UI.DataTable.Action
            {
                Name = "delete",
                Icon = builder =>
            {
                builder.OpenComponent(0, typeof(AppExemplo.Components.icons.Exclude));
                builder.CloseComponent();
            },
                Handler = EventCallback.Factory.Create<Dictionary<string, object?>>(this, row => {
                    Console.WriteLine($"Excluir {row["id"]}");
                })
            }
        };
    }

    private void HandleAction((string actionName, Dictionary<string, object?> row) e)
    {
        Console.WriteLine($"Action: {e.actionName}, Row: {e.row["id"]}");
    }

} *@